// theme 1
// Backgrounds
$darkBlue: hsl(222, 26%, 31%);
$veryDarkblue: hsl(223, 31%, 20%);
$dark: hsl(224, 36%, 15%);

$desaturatedBlue: hsl(225, 21%, 49%);
$greyBlue: hsl(224, 28%, 35%);
$red: hsl(6, 63%, 50%);
$darkRed: hsl(6, 70%, 34%);
$greyOrange: hsl(30, 25%, 89%);
$grey: hsl(28, 16%, 65%);
$white: hsl(0, 0%, 100%);

// theme 2
$lightGray: hsl(0, 0%, 90%);
$grayRed: hsl(0, 5%, 81%);
$grayLight: hsl(0, 0%, 93%);

$cyan: hsl(185, 42%, 37%);
$darkCyan: hsl(185, 58%, 25%);
$orange: hsl(25, 98%, 40%);
$darkOrange: hsl(25, 99%, 27%);
$grayYellow: hsl(45, 7%, 89%);
$darkGray: hsl(35, 11%, 61%);

// theme 3
// $darkViolet: hsl(281, 89%, 26%);
$vividMagenta: hsl(285, 91%, 52%);
$pureCyan: hsl(176, 100%, 44%);
$softCyan: hsl(177, 92%, 70%);
$darkViolet: hsl(268, 47%, 21%);
$darkMagenta: hsl(290, 70%, 36%);

$lightYellow: hsl(52, 100%, 62%);

$fontSize: 2rem;
